<!DOCTYPE html>
<html>
<head>
  <title>BrokenWindow</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "broken_window/application", media: "all" %>
  <%= javascript_include_tag "broken_window/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= [@status.to_s, @body_class].compact.join(' ') %>">

<%= yield %>

</body>
</html>
