<%= form_for @metric do |f| %>
  <%= render "error_messages", :target => @metric %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :calculator %>
    <%= f.select :calculator, BrokenWindow.calculators.map(&:name), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :value_type %>
    <%= f.select :value_type, BrokenWindow::Metric::VALUE_TYPES, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :threshold %>
    <%= f.text_field :threshold, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :threshold_type %>
    <%= f.select :threshold_type, BrokenWindow::Metric::THRESHOLD_TYPES, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :arguments %>
    <%= f.text_field :arguments, class: 'form-control' %>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  or
  <%= link_to 'cancel', root_path %>
<% end %>
