<%= link_to '', metric_up_path(@metric), class: 'back-link fa fa-level-up' %>

<div class="show-metric">
  <h1>
    <% if @metric.snoozed? %>
      <i class="fa fa-bed"></i>
    <% end %>
    <%= @metric.name %>
  </h1>
  <%- unless @metric.container? %>
    <div class="value"><%= BrokenWindow::Metric.format_value @metric.value, @metric.value_type %></div>
    <div class="required">
      <div class="minimum"><%= @metric.threshold_type %> <%= BrokenWindow::Metric.format_value @metric.threshold, @metric.value_type %></div>
    </div>
    <%= tag :div, class: "chart", data: {
      sparkline: @metric.measurements.order(id: :asc).map{ |measurement| {
        value: measurement.value,
        date: measurement.created_at.to_date,
      } }.uniq{ |d| d[:date] }.to_json,
      critical_value: @metric.threshold,
      width: 400,
      height: 150,
      value_type: (@metric.value_type == "percentage") ? "%" : "",
    } %>
  <%- end %>
</div>

<%= render partial: 'list', locals: {metrics: @metric.children} %>

<div class="page-actions">
  <%= link_to '', edit_metric_path(@metric), class: 'fa fa-pencil-square-o', title: 'Edit' %>

  <% if @metric.snoozed? %>
    <%= link_to '', unsnooze_metric_path(@metric), method: :post, class: 'fa fa-bell', title: "Unsnooze (snoozed at #{@metric.metric.snoozed_at})" %>
  <% else %>
    <%= link_to '', snooze_metric_path(@metric), method: :post, class: 'fa fa-bed', title: 'Snooze for 2 weeks' %>
  <% end %>
</div>
